.image-parallax
  height: 70vh
  overflow-x: hidden
  overflow-y: hidden
  perspective: 2px
  //transform-style: preserve-3d

  +breakpoint($tablet)
    height: 50vh

  .section
    position: relative
    height: 70vh
    min-height: 350px
    transform-style: inherit
    background-image: linear-gradient(rgba(4, 6, 16, 0.21), rgba(6, 34, 79, 0.45) , rgba(4, 6, 16, 0.21))

    &:before
      content: " "
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: -1

      background-size: cover
      background-repeat: no-repeat
      background-position: center center
      background-attachment: fixed

      transform: translateX(-1px) scale(1.2)

      +breakpoint($tablet)
        height: 50vh

    .caption-parallax
      position: absolute
      top: 0px
      //width: 100%
      padding: 20px 0px
      color: $white
      margin: 30px
      //font-size: 40px
      //text-align: center

      +breakpoint($tablet)
        //top: 20%
        margin: 10px

      .title-spotlight-parallax
        font-weight: bold
        color: #cc2229
        text-shadow: 1px 2px 5px #000
        font-size: 70px
        text-transform: uppercase

      .subtitle-spotligth
        font-size: 16px
        text-shadow: 0px 0px 5px #000
        text-align: center
        text-transform: uppercase

    //.box-right-parallax
    //  //background-color: #042656
    //  border-left: solid 150px transparent
    //  border-top: solid 160px transparent
    //  border-bottom: solid 160px $color-spotlight-title-section
    //  border-right: solid 160px $color-spotlight-title-section
    //  opacity: .6
    //  position: relative
    //  display: block
    //  width: 350px
    //  height: 150px
    //  float: right



  .bg1
    &:before
      background-image: url('https://i.imgur.com/eeP7pMC.jpg')



