.digital-services
  background-color: $color-font-price
  display: block
  padding: 10px

  .content-digital-services
    background-color: #741BBB
    display: block
    padding:  10px

    .digital-services-header
      .call-section-digital-services
        background-color: #333aec

        .title-main
          font-size: 30px
          color: $color-font-body
          text-shadow: 2px 1px 2px $color-spotlight-title-section
          text-align: center
          text-transform: uppercase
          margin: 10px 0px

          .title-spotlight
            color: $color-spotlight-title-section

        .description-call
          text-align: center
          color: $color-font-body
          background-color: #3d4852
          font-size: 18px
          font-weight: normal
          width: 50%
          display: block
          margin: auto

        .line-bottom
          height: 2px
          width: 30%
          background-color: $color-font-body
          display: block
          margin: auto
          margin-top: 10px