.benefits
  margin-bottom: 80px
  .content-benefits
    .benefits-header
      //background-color: #4dc0b5
      display: block
      padding: 20px
      margin-bottom: 50px

      .call-section-benefits
        +make-row(0px)
        //background-color: #f6993f
        display: block
        margin: auto
        margin-bottom: 15px
        text-align: center

        .title-main
          font-size: 30px
          color: $color-font-body
          text-shadow: 2px 1px 2px $color-spotlight-title-section
          text-align: center
          text-transform: uppercase
          margin: 15px 0px

          +breakpoint($celular)
            font-size: 24px

          .title-spotlight
            color: $color-spotlight-title-section

        .line-bottom
          height: 2px
          width: 20%
          background-color: $color-font-body
          display: block
          margin: auto
          margin-top: 25px

        .description-call
          text-align: center
          color: $color-font-body
          //background-color: #3d4852
          font-size: 18px
          font-weight: normal
          width: 50%
          display: block
          margin: auto

          +breakpoint($tablet)
            width: auto

          +breakpoint($celular)
            font-size: 16px

    .benefits-body
      +make-row(0px)
      +container-fixed(25%)
      //background-color: #f66D9b
      display: block
      color: $white
      overflow-y: hidden
      height: 197px

      .description-plan-call
        text-transform: uppercase
        font-size: 20px
        text-align: center
        padding-bottom: 10px


        +breakpoint($desktop)
          font-size: 18px

        +breakpoint($tablet)
          font-size: 16px

      .icon-arrow
        font-size: 25px
        margin: 0px 20px

      .box-local-space, .box-space-international, .box-national-space
        margin: 0px 10px

        +breakpoint($tablet)
          margin: 0px 2px

      .benefits-box-local
        +make-sm-column(4,0px)

        .box-local-space
          display: block
          background-color: $color-spotlight-title-section


          &.hover
            display: block
            background-color: $bg-hover-benefits
            position: relative
            margin-top: -200px

            .box-local-header-hover
              padding: 33px 20px

            .box-local-footer-hover
              margin-top: 50px
              padding: 10px
              background: linear-gradient(90deg, #bbb,#ddd)
              color: $bg-box-benefits

              .text-spotligth
                color: $color-spotlight
                font-weight: bold

          .box-local-header
            font-size: 50px
            text-align: center
            padding: 15px 0px 100px 0px


      .benefits-box-national
        +make-sm-column(4,0px)
        .box-national-space
          display: block
          background-color: $color-spotlight-title-section

          +breakpoint($celular)
             margin: 10px 0px
          .box-national-header
            font-size: 50px
            margin: auto
            display: block
            //background-color: #d2dbfa
            padding: 15px 0px 100px 30px
            width: 200px

            +breakpoint($tablet)
              padding-left: 20px

            img
              position: absolute
              width: 60px
              padding: 0px 10px
              //background-color: #cc2229

              +breakpoint($tablet)
                padding: 0px

      .benefits-box-national-hover
        display: none

      .benefits-box-international
        +make-sm-column(4,0px)
        .box-space-international
          background-color: $color-spotlight-title-section
          .box-international-header
            font-size: 50px
            text-align: center
            padding: 15px 0px 100px 0px

          //display: block

      .benefits-box-international-hover
        display: none


