.content-footer
  //width: 100%
  background-color: $bg-box-benefits
  display: block
  //padding: 10px

  .content-after
    +container-fixed(5%)
    display: block
    position: relative
    padding-bottom: 100px
    font-size: 12px

    .coopright
      +make-sm-column(6,0px)
      //background-color: #f6993f
      color: $color-title-test-internet

      +breakpoint($md_celular)
        text-align: center

      
    .developing
      +make-sm-column(6,0px)
      //background-color: #cc2229
      text-align: right
      color: $color-title-test-internet

      +breakpoint($md_celular)
        text-align: center
      a
        color: $color-title-test-internet
        text-decoration: none


  .container-footer
    +container-fixed(10%)
    display: block
    background: $bg-box-benefits
    padding-top: 50px
    //padding-bottom: 50px

    &:after
      display: block
      width: 100%
      content: ''
      margin-bottom: 30px

    .title-box-footer
      color: $color-font-price
      margin-bottom: 10px
      text-shadow: 1px 1px 4px $black

    .box-left
      +make-sm-column(5,0px)
      border: white 1px solid
      padding: 20px
      border-radius: 3px
      display: block

      color: $white
      font-weight: $ligth

      +breakpoint($celular)
        padding: 10px
        margin-bottom: 30px


      .content-question
        padding: 0px 10px

        a
          text-decoration: none
          color: $white
          .items-atendance
            margin: 15px 0px
            text-transform: uppercase
            font-size: 13px

            +breakpoint($tablet)
              margin: 15px 0px


    .box-rigth
      +make-sm-column(5,0px)
      +make-sm-column-push(1)

      display: block
      padding: 20px
      height: auto
      border: white 1px solid
      border-radius: 3px

      +breakpoint($celular)
        text-align: center

      color: $white
      font-weight: $ligth

      .icons-redes
        font-size: 35px
        margin-left: 20px

        i
          margin: 0 15px


