@keyframes slideUp
  0%
    bottom: 0px
  20%
    bottom: 0px
  40%
    bottom: 380px
  60%
    bottom: 380px
  80%
    bottom: 760px
  100%
    bottom: 760px

.header-content
  width: 100%
  height: 380px
  position: relative
  display: block
  background-color: #13ccbc
  overflow: hidden
  margin: auto

  .content-bullet
    position: absolute
    display: block
    background: blue
    width: 130px
    //height: 10px
    z-index: 10
    bottom: 0px
    left: 45%

    input
      display: none

    label
      background: red
      bottom: 30px
      left: 30px
      cursor: pointer
      display: block
      position: absolute
      z-index: 10
      width: 60px
      height: 3px


      &:nth-child(2)
        left: 180px

      &:nth-child(1)
        left: 100px


  .slide-content
    animation: slideUp 10s alternate infinite
    position: relative

    .banner-content
      width: 100%
      height: 380px

      &.bg1
        background-image: url("https://i.imgur.com/IUTvUup.jpg")
        background-size: cover
        background-position: center
        background-repeat: no-repeat


      &.bg2
        background: url("https://i.imgur.com/xj2UOAS.jpg")
        background-size: cover
        background-position: center
        background-repeat: no-repeat


      &.bg3
        background: url("https://i.imgur.com/vgFvY5N.jpg")
        background-size: cover
        background-position: center
        background-repeat: no-repeat

      .banner-caption
        //background-color: #fff
        display: inline-block
        width: 600px
        margin: 30px

        .banner-call-plan
          color: $white
          font-size: 30px
          font-weight: bolder
          line-height: 1
          strong
            font-weight: 600

        .banner-value-plan
          margin-top: 30px

          .content-left
            display: inline-block
            .limit-band
              font-size: 70px
              color: $color-spotlight
              font-weight: 600

            .desc-band
              color: $color-font-price
              font-size: 25px
              text-transform: uppercase
              font-weight: 600

          .type-money
            display: inline-block
            //background-color: #4dc0b5
            font-size: 24px
            color: $color-font-price

          .price-band
            //background-color: #1390d4
            display: inline-block
            width: 250px
            color: $color-font-price


            .description-value
              display: block
              //background-color: #14b1fa
              margin-bottom: 5px
              font-size: 18px


            .price
              //background-color: #cc2229
              display: inline-block
              font-size: 90px
              font-weight: bold

              
            .zero-mounth
              display: inline-block
              //background-color: #f6993f
              position: relative
              top: 0px
              margin-left: -5px

              .zero
                font-size:  40px
                line-height: 1.5

              .mounth
                font-size: 28px


          .spotligth-channels
            //background-color: #87ebd5
            display: block
            width: 250px
            margin-top: 5px
            color: $white

            .icon-channels
              display: inline-block
              //background-color: red
              position: relative
              top: 5px
              img
                width: 40px

            .icon-plus
              display: inline-block
              position: relative
              font-size: 50px
              font-weight: bolder
              margin-left: 15px
              top: 5px

            .qtd-channels
              //background-color: #3490dc
              display: inline-block
              //width: 50px
              margin-left: 15px

              .channels-number
                font-size: 40px
                display: inline-block
                letter-spacing: -2px

              .channels-desc
                font-size: 18px
                width: 80px
                display: inline-block
                font-style: italic

        &.cap2
          //background-color: $bg-cellphone
          float: right

          .banner-call-plan
            font-size: 26px
            text-align: center
            line-height: 1
          .banner-value-plan
            display: inline-block
            //background-color: #011553
            //float: right
            text-align: center
            margin-left: 18%

            .spotligth-channels
              //background-color: #011553
              margin-left: auto
              margin-right: auto

              .icon-channels
                background-color: #fff
                img
                  width: 90px

              .icon-plus
                margin-left: 0px
                font-size: 35px

              .channels-number
                font-size: 35px

              .qtd-channels
                margin-left: 0px






