@keyframes slideUp
  0%
    bottom: 0
  20%
    bottom: 0
  40%
    bottom: 380px
  60%
    bottom: 380px
  80%
    bottom: 760px
  100%
    bottom: 760px

.header-content
  width: 100%
  height: 380px
  position: relative
  display: block
  background-color: #13ccbc
  overflow: hidden
  margin: auto

  .content-bullet
    position: absolute
    display: block
    background: blue
    width: 130px
    //height: 10px
    z-index: 10
    bottom: 0px
    left: 45%

    input
      display: none

    label
      background: red
      bottom: 30px
      left: 30px
      cursor: pointer
      display: block
      position: absolute
      z-index: 10
      width: 60px
      height: 3px


      &:nth-child(2)
        left: 180px

      &:nth-child(1)
        left: 100px


  .slide-content
    animation: slideUp 10s alternate infinite
    position: relative
    .banner-content
      width: 100%
      height: 380px

      &.bg1
        background-image: url("https://i.imgur.com/IUTvUup.jpg")
        background-size: cover
        background-position: center
        background-repeat: no-repeat



      &.bg2
        background: url("https://i.imgur.com/xj2UOAS.jpg")
        background-size: cover
        background-position: center
        background-repeat: no-repeat


      &.bg3
        background: url("https://i.imgur.com/FNQko84.jpg")
        background-size: cover
        background-position: center
        background-repeat: no-repeat






