// button buy-now navbar
.btn-buy-now

  background-color: $button-navbar
  border: 0
  padding: 15px 5px
  border-radius: 2px
  box-shadow: 1px 2px 5px $color-font-body

  color: $white
  text-transform: uppercase
  font-weight: bolder
  text-shadow: 1px 1px 2px $color-font-body

