// button buy-now navbar
.btn-buy-now

  background-color: $button-navbar
  border: 0
  padding: 15px 5px
  border-radius: 2px
  box-shadow: 1px 2px 5px $color-font-body

  color: $white
  text-transform: uppercase
  font-weight: bolder
  text-shadow: 1px 1px 2px $color-font-body


.btn-contract
  background-color: $button-buy-car
  color: $white
  border: none
  width: 180px
  padding: 5px 10px
  font-size: 20px
  letter-spacing:  1.5px
  border-radius: 3px
  box-shadow: 2px 2px 3px #146700
  cursor: pointer

  &:active , &:visited, &:focus
    border: none


.btn-banner
  background-color: $button-buy-car
  color: $white
  border: none
  width: 150px
  margin: 5px 0px
  padding: 5px 10px
  font-size: 20px
  letter-spacing: 1.5px
  border-radius: 3px
  box-shadow: 2px 2px 3px #146700
  cursor: pointer

  &:active , &:visited, &:focus
    border: none

.btn-band-plan
  background-color: transparent
  color: $color-font-title-section
  border: 1px solid $color-font-title-section
  width: 50px
  margin: 5px 5px
  padding: 3px
  border-radius: 5px
  font-size: 12px